body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    padding: 20px;
    width: 70vw;
    height: 80vh;
    min-width: 400px;
    min-height: 400px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-box {
    width: 70vw;
    height: 80vh;
    min-width: 380px;
    min-height: 380px;
    background-color: rgb(111, 111, 111);
    max-width: 100%;
    border: 1px solid #444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    padding: 10px;
    height: 70vh;
    overflow-y: scroll;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    background-color: #444;
    text-align: right;
    overflow-y: scroll;
}

.u-message{
    color: chartreuse;
    text-align: right;
    margin-bottom: -1vh ;
}

.b-message{
    color: mediumvioletred;
    text-align: left;
    margin-bottom: -1vh ;
}

.bot-message {
    background-color: #555;
    text-align: left;
    overflow-y: scroll;
}

.chat-input {
    padding: 10px;
    display: flex;
    align-items: center;
}

#message-input {
    flex-grow: 1;
    overflow-scrolling: auto;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
