/* Общие стили для body */
body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Блок чата */
.chat {
    padding: 20px;
    width: 70vw;
    height: 80vh;
    min-width: 400px;
    min-height: 400px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Контейнер с сообщениями и инпутом */
.chat__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(111, 111, 111);
    border-radius: 10px;
    border: 1px solid #444;
}

/* Область сообщений */
.chat__messages {
    padding: 10px;
    height: 70vh;
    overflow-y: scroll;
}

/* Сообщение (пользовательское и бот) */
.chat__message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* Сообщение от пользователя */
.chat__message--user {
    background-color: #444;
    text-align: right;
}

/* Сообщение от бота */
.chat__message--bot {
    background-color: #555;
    text-align: left;
}

/* Выделенные стили для текста сообщений (например, цвет) */
.chat__message--user-text {
    color: chartreuse;
    text-align: right;
    margin-bottom: -1vh;
}

.chat__message--bot-text {
    color: mediumvioletred;
    text-align: left;
    margin-bottom: -1vh;
}

/* Инпут и кнопка для отправки сообщений */
.chat__input-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
}

/* Поле ввода */
.chat__input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
}

/* Кнопка отправки */
.chat__button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
