<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат с нейронной сетью MD_Helper-main</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <div class="chat-box">
            <div class="chat-messages">

            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Введите ваше сообщение...">
                <button id="send-button">Отправить</button>
            </div>
        </div>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>
