<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат с нейронной сетью MD_Helper-main</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="chat">
        <div class="chat__container">
            <div class="chat__messages" id="chat-messages"></div>
            <div class="chat__input-wrapper">
                <input type="text" id="message-input" class="chat__input" placeholder="Введите ваше сообщение...">
                <button id="send-button" class="chat__button">Отправить</button>
            </div>
        </div>
    </div>

    <script src="/static/index.js"></script>
</body>
</html>
